nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.allCardContainer {
  border: 1px solid red;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}

.aCard {
  border: 1px solid blue;
  width: 45%;
  text-align: center;
  margin: 2%;
}
